body {
    font-family: "Gill Sans", sans-serif;
    width: 500px;
    padding: 15px;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
    padding-bottom: 8px;
}

h1 {
    font-size: 18px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
    padding-bottom: 3px;
}
.introducing_container {
    text-align: center;
}
.introducing_container h1 {
    font-size: 14px;
    color: #333;
}
.introducing_container p {
    font-size: 12px;
    color: #555;
    margin: 5px 0;
    list-style: none;
}
.settings_container {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin: 5px 0;
    padding-bottom: 8px;
}